body{
    background-color: antiquewhite;
}
.title{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-decoration: underline;
}
.recipe{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
padding: 25px 25px;
}